PORT=3000
DB_HOST='localhost'
DB_USERNAME='floam_user'
DB_PASSWORD='floam123'
DB_NAME='floam'
NODE_ENV='local'
ACCESS_KEY_ID=''
SECRET_ACCESS_KEY=''
JWT_SECRET_KEY='floam-local'
STRIPE_SECRET_KEY=''
aws_access_key_id = ''
aws_secret_access_key = ''
