<html>
​
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <style>
        body {
            margin: 0px;
            padding: 0px;
            width: 664px;
            height: 888px;
            font-family: Poppins !important;
        }
    </style>
</head>
​
<body>
    <table width: 100%; height=100%; cellpadding="0" cellspacing="0">
        <tbody>
            <tr
                style="background-image: url('https://shmos.s3.us-east-2.amazonaws.com/collectagift/e1ee016f66436d42f3f3f1c1147dffe8a41f1712.png');height: 205px;">
                <td>
                    <div style="text-align: center;"><img
                            src="https://shmos.s3.us-east-2.amazonaws.com/collectagift/5577711bbc6a706cb5a389e02417834c58e78e52.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-size: 21px;color: #000000;font-weight: 700;margin-top: 70px;padding-left: 60px;">
                        Dear {{firstName}} {{lastName}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div><span style="font-size: 15px;color: #424242;font-weight: 500;padding-left: 60px;">Your new
                            password is</span>
                        <span
                            style="font-size: 20px;color: #424242;font-weight: 500;margin-left: 5px;">{{password}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align: center;height: 173px;margin-top: 85px;margin-bottom: 85px;"><img
                            src="https://shmos.s3.us-east-2.amazonaws.com/collectagift/76fdfa1f9b9775428101c5ab408e8720e6ffe5a3.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div
                        style="color: #8F9394;font-size: 15px;text-align: center;margin-bottom: 125px; padding-left: 60px;padding-right: 60px;">
                        You can login to your floam account using the new password provided. You can also change
                        password in application settings.</div>
                </td>
            </tr>
            <tr>
                <td style="background-color: #D1D1D1;height: 34px;">
                    <div style="color: #000000;font-size: 10px;text-align: center;font-weight: 500;">Copyright @ 2021
                        floam</div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
​
</html>